<section class="innerbanner">
  <h1><strong>Who We Are</strong></h1>
</section>

<section class="p-60 text-justify">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-4">
        <img src="assets/images/taxi.png" alt="online cab booking company" class="img-responsive img_res" />
      </div>
      <div class="col-12 col-lg-8">
        <span>
          Topride is a leading online cab bookings company in India that provide pleasant and relaxing experience to
          customers moving on for a short or long distance travel. We are the team of proud professionals who believe in
          creating beneficial relationships with customers by providing high class cab travel service at the rate that
          is very reasonable.</span>
      </div>
    </div>
    <div class="row mt-5 align-items-center">
      <div class="col-sm-12 col-lg-6">
        <h3 class="innerheading2">Our Mission</h3>
        <span class=" mt-2 d-block">Enhancing the customer experience and meeting the satisfaction, our mission is to be
          the first choice of every Indian. We also provide superior business opportunity to people, to provide an ideal
          environment of amenity, service and support. </span>
      </div>
      <div class="col-sm-12 col-lg-6 hidden-xs">
        <div class="p_relative text-center">
          <img src="assets/images/innericonbg-2.png" class="img-responsive m-auto" alt="online cab booking company" />
          <div class="img_postn">
            <img src="assets/images/innericon4.png" alt="online cab booking company" />
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 align-items-center">

      <div class="col-sm-12 col-lg-6 hidden-xs">
        <div class="p_relative text-center">
          <img src="assets/images/innericonbg-2.png" class="img-responsive m-auto" alt="online cab booking company" />
          <div class="img_postn">
            <img src="assets/images/innericon5.png" alt="online cab booking company" />
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <h3 class="innerheading2">Our Vission</h3>
        <span class=" mt-2 d-block">We are the group of learned members who are in partner with reliable chauffeurs to
          provide you an A1 travel experience. We are the group of growth oriented and passionate professionals who
          strive to meet customer expectations with maximum benefits and are looking forward to stand as a pro to every
          person’s desire. </span>
      </div>
    </div>

    <div class="row mt-5 align-items-center">
      <div class="col-sm-12 col-lg-6">
        <h3 class="innerheading2">Our Commitment</h3>
        <div class="commt">
          <i class="fas fa-square-full"></i>
          <span class=" mt-2 d-block">To provide the most premium and preferred land transport service with utmost
            regard to each customer. </span>
        </div>
        <div class="commt">
          <i class="fas fa-square-full"></i>
          <span class=" mt-2 d-block">To assist very customer and passenger to meet complete satisfaction and acquire
            deal of service that is hard to attain.</span>
        </div>
        <div class="commt">
          <i class="fas fa-square-full"></i>
          <span class=" mt-2 d-block">To provide safe, secure and clean travel experience so that you acquire
            comfortable and relaxed travel experience.</span>
        </div>
        <div class="commt">
          <i class="fas fa-square-full"></i>
          <span class=" mt-2 d-block">To work on the backbone of Mutual benefit business relationship, in order to
            provide welfare service for overall development. </span>
        </div>
        <div class="commt">
          <i class="fas fa-square-full"></i>
          <span class=" mt-2 d-block">To work with government to increase the efficiency of the drivers and increase
            standards of cab service as well. </span>
        </div>
        <div class="commt">
          <i class="fas fa-square-full"></i>
          <span class=" mt-2 d-block">To serve welfare projects in community to create a healthy environment of love and
            protection around. </span>
        </div>
        <div class="commt">
          <i class="fas fa-square-full"></i>
          <span class=" mt-2 d-block">To provide 24x7 service and support that can solve your problem any time desired.
          </span>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 hidden-xs">
        <div class="p_relative text-center">
          <img src="assets/images/innericonbg-2.png" class="img-responsive m-auto" alt="online cab booking company" />
          <div class="img_postn">
            <img src="assets/images/innericon4.png" alt="online cab booking company" />
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      Avoid hanging and waiting for auto on road and approach or drivers at any place, any time. <strong>We are just one
        click away from you!</strong>
    </div>

  </div>
</section>

<!-- <section class="pad-160 icon_sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-taxi"></i> <span class="d-block mt-3">1000+</span>
          <span class="d-block"> Lorem ipsum dollar siet amiet </span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-city"></i> <span class="d-block mt-3">10+</span>
          <span class="d-block"> Lorem ipsum dollar siet amiet </span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-users"></i> <span class="d-block mt-3">1000+</span>
          <span class="d-block"> Lorem ipsum dollar siet amiet </span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-user-tie"></i>
          <span class="d-block mt-3">1000+</span>
          <span class="d-block"> Lorem ipsum dollar siet amiet </span>
        </div>
      </div>
    </div>
  </div>
</section> -->