.img_postn{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);}

.commt{position: relative;padding-left:30px;}

.commt .fas{position: absolute;top:9px;left:0;color: #e6c907;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 15px;
    margin-right: 5px;}



 @media screen and (max-width: 767px){

 	.innerbanner{height:164px;}
 	.innerbanner h1{height: 28px;font-size: 26px;}
 	.img_res{width:170px;margin-bottom:20px;}
 	.innerheading2{font-size:22px;}


 }