<!-- inner banner -->

<section class="innerbanner">
  <h1><strong>Connect With Topride Business To Business</strong></h1>
</section>

<section class="businessTopSec">
  <div class="container">
    <div class="row align-items-center businessTopSecInn">
      <div class="col-12 col-lg-7 businessTopSecInnTxt">
        <h3>Book for Someone and Earn Money</h3>
        <p>
          Now earning is one click away, all you need to do is book a Topride
          cab for someone known or unknown to you and enjoy money or rewards in
          your account.
        </p>
      </div>
      <div class="col-12 col-lg-5 hidden-xs align-self-end businessTopSecImg">
        <img
          src="assets/images/business-img-1.png"
          alt="image"
          class="img-responsive"
        />
      </div>
    </div>
  </div>
</section>

<section class="businessMidSec">
  <div class="container">
    <div class="row align-items-center businessTopSecInn">
      <div class="col-12 col-lg-5 hidden-xs align-self-end businessTopSecImg">
        <img
          src="assets/images/business-img-2.png"
          alt="image"
          class="img-responsive"
        />
      </div>
      <div class="col-12 col-lg-7 businessMidSecInnTxt">
        <h3>Grow your Business with Topride Business to Business Concepts</h3>
        <p>
          We are now up with new Business to Business concept where you can do
          the bookings of your customer, employee as well as colleagues and grow
          your business along by earning rewards.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="p-60 businessBotSec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 businessBotSecTxt">
        <h3 class="innerheading2">Request for B2B</h3>
        <p>
          It is easy to switch to our B2B concept as normal user can also
          convert his account to business account and can do multiple bookings
          at the same time for his customers, employees as well as colleagues.
          Just send a request and some details to support your validity.
        </p>
      </div>
      <div
        class="col-12 col-lg-6 hidden-xs businessBotSecImg"
        style="background: url('assets/images/business-img-3.png') no-repeat center center / cover"
      ></div>
    </div>
    <div class="row align-items-center">
      <div
        class="col-12 col-lg-6 hidden-xs businessBotSecImg"
        style="background: url('assets/images/business-img-4.png') no-repeat center center / cover"
      ></div>
      <div class="col-12 col-lg-6 businessBotSecTxt text-right">
        <h3 class="innerheading2">Get Approved</h3>
        <p>
          Admin will verify your essential details and approve your business
          account accordingly to serve you well with seamless Topride
          facilities.
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 businessBotSecTxt">
        <h3 class="innerheading2">Start Sharing</h3>
        <p>
          A separate dashboard is provided to you to book rides for your
          customers, colleagues and employees, and check earnings after every
          booking. The more you do the bookings the more profit you may earns,
          so get on toes and run the wheels of your business now!
        </p>
      </div>
      <div 
        class="col-12 col-lg-6 hidden-xs businessBotSecImg"
        style="background: url('assets/images/business-img-5.png') no-repeat center center / cover"
      ></div>
    </div>
  </div>
</section>
