<div>
  <h3 class="db_heading">Account Settings</h3>
  <div class="row">
    <div class="col-12">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente illo facere qui a dolorum, magni
        consequuntur minima doloremque quibusdam, inventore ratione velit laboriosam corporis nisi quisquam reiciendis
        rem et expedita?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente illo facere qui a dolorum, magni
        consequuntur minima doloremque quibusdam, inventore ratione velit laboriosam corporis nisi quisquam reiciendis
        rem et expedita?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente illo facere qui a dolorum, magni
        consequuntur minima doloremque quibusdam, inventore ratione velit laboriosam corporis nisi quisquam reiciendis
        rem et expedita?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente illo facere qui a dolorum, magni
        consequuntur minima doloremque quibusdam, inventore ratione velit laboriosam corporis nisi quisquam reiciendis
        rem et expedita?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente illo facere qui a dolorum, magni
        consequuntur minima doloremque quibusdam, inventore ratione velit laboriosam corporis nisi quisquam reiciendis
        rem et expedita?</p>
    </div>
  </div>
</div>