
<div class="container containerovr">
  <div class="bannertxt">
    <!-- <h1>
      Book A Cab You Like To <span class="d-block"> Travel The Way You Want</span>
    </h1> -->
    <!-- <div class="btn_area m-auto">
      <div class="d-flex text-center">
        <div class="col-12 col-lg-4 pl-0 m-auto">
          <span class="btn_label">
            Driver
          </span>
          <button type="button" class="btn btn-transparent w-100">
            Sign up to Driver
          </button>
        </div>
        <div class="col-12 col-lg-4 m-auto">
          <span class="btn_label">
            Rider
          </span>
          <button type="button" class="btn btn-transparent w-100">
            Sign up to Rider
          </button>
        </div>
      </div>
    </div> -->
    <div class="banner_img">
      <a href="#">
        <img src="/assets/images/apple-store.png">
      </a>
      <a href="#">
        <img src="/assets/images/google-play.png">
      </a>
    </div>
  </div>
</div>

<section class="p-60">
  <div class="container">
    <h3>BOOK A CAB OF YOUR CHOICE</h3>
    <p class="mb-5 d-block">Select from the largest variety of cars</p>
    
      
        <div class="owl-carousel owl-theme">
          <div class="item text-center">
            <img src="assets/images/micro.png" alt="image" />
            <span class="text-center d-block mt-2">TRmicro</span>
          </div>
          <div class="item text-center">
            <img src="assets/images/mini.png" alt="image" />
            <span class="text-center d-block mt-2">TRmini</span>
          </div>
          <div class="item text-center">
            <img src="assets/images/prime.png" alt="image" />
            <span class="text-center d-block mt-2">TRprime</span>
          </div>
          <div class="item text-center">
            <img src="assets/images/micro.png" alt="image" />
            <span class="text-center d-block mt-2">TRmicro</span>
          </div>
          <div class="item text-center">
            <img src="assets/images/mini.png" alt="image" />
            <span class="text-center d-block mt-2">TRmini</span>
          </div>
          <div class="item text-center">
            <img src="assets/images/prime.png" alt="image" />
            <span class="text-center d-block mt-2">TRprime</span>
          </div>
        </div>
      </div>
  
</section>

  <section class="sec4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-5">
          <h3>Download Topride App to Book Your Cab Now!</h3>
          <div class="mt-4">
              <a href="#">
                <img src="/assets/images/apple-store.png">
              </a>
              <a href="#">
                <img src="/assets/images/google-play.png">
              </a>
            </div>
        </div>
        <div class="col-12 col-lg-7 hidden-xs">
          <img src="/assets/images/mobile-image2.png" alt="image">
        </div>
      </div>
    </div>
  </section>



<section class="p-60 res_mt">
  <div class="container">
    <h2 class="text-center mb-5">What We Offer</h2>
    <div class="row align-items-center">
      <div class="col-12 col-lg-4">
        <div class="icon_info ic_ovr">
          <h4>Real-time Map & Location</h4>
          <span>Easy location tracking of drivers and riders in real-time</span
          >
          <div class="icon_pht">
            <img src="assets/images/nn1.png" alt="image" />
          </div>
        </div>
        <div class="icon_info ic_ovr mt-5">
          <h4>In-app Payment Feature</h4>
          <span >To support Digital India, our app supports In-app payments. Add money to your wallet to go cashless</span
          >
          <div class="icon_pht">
            <img src="assets/images/nn2.png" alt="image" />
          </div>
        </div>
        <div class="icon_info ic_ovr mt-5">
          <h4>Receive Push Notification</h4>
          <span>Enable push notifications to receive alerts and attractive offers to your rides</span
          >
          <div class="icon_pht">
            <img src="assets/images/nn3.png" alt="image" />
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <img
          src="assets/images/mobile-image1.png"
          alt="image"
          class="img-fluid hidden-xs"
        />
      </div>
      <div class="col-12 col-lg-4 rmt-30">
        <div class="icon_info ic_ovr_2">
          <h4>Referral Programs</h4>
          <span >Refer your family and friends to Toprides and receive amazing discounts on each successful referral</span
          >
          <div class="icon_pht_2">
            <img src="assets/images/nn4.png" alt="image" />
          </div>
        </div>
        <div class="icon_info ic_ovr_2 mt-5">
          <h4>Travel Reports</h4>
          <span >User-friendly dashboard to track your past journeys and their travel expenses</span
          >
          <div class="icon_pht_2">
            <img src="assets/images/nn5.png" alt="image" />
          </div>
        </div>
        <div class="icon_info ic_ovr_2 mt-5 rmb-30">
          <h4>Real-time Support</h4>
          <span >Get real-time support on your ride with our customer friendly team</span
          >
          <div class="icon_pht_2">
            <img src="assets/images/nn6.png" alt="image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-5">
        <div class="img_abs hidden-xs "></div>
      </div>
      <div class="col-12 col-lg-7">
        <h3>Topride Travel Agencies</h3>
        <p>The best way to travel to your destination .</p>
        <div class="ag_bx z-depth-1">
          <h4>
            Are You A Travel Agency?
          </h4>
          <span>
            Download Toprides mobile app and signup as an agency. Follow all the required steps to verify your account as a travel agency. List your vehicles to get them hired through Toprides. 
          </span>
          <span class="d-block">Coming Soon!</span>
          <!-- <div class="mt-4">
            <a href="#">
              <img src="assets/images/apple-store.png" />
            </a>
            <a href="#">
              <img src="assets/images/google-play.png" />
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>


