<div class="container containerovr">
  <div class="bannertxt">
    <h1>
      Book a City Taxi to<span class="d-block"> your destination in town</span>
    </h1>
    <div class="btn_area m-auto">
      <div class="d-flex">
        <div class="col-12 col-lg-4 pl-0">
          <span class="btn_label">
            Driver
          </span>
          <button type="button" class="btn btn-transparent w-100">
            Sign up to Driver
          </button>
        </div>
        <div class="col-12 col-lg-4 ">
          <span class="btn_label">
            Rider
          </span>
          <button type="button" class="btn btn-transparent w-100">
            Sign up to Rider
          </button>
        </div>
        <div class="col-12 col-lg-4 pr-0">
          <span class="btn_label">
            Travel Agencies
          </span>
          <button type="button" class="btn btn-transparent w-100">
            Sign up to Travel Agencies
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="pad_60">
  <div class="container">
    <h3>Meet Our Awesome Fleet</h3>
    <p class="mb-5 d-block">The widest variety of cars to choose from</p>
    <section class="pad_60">
      <div class="container">
        <h3>Meet Our Awesome Fleet</h3>
        <p class="mb-5 d-block">The widest variety of cars to choose from</p>
        <div class="owl-carousel owl-theme">
          <div class="item text-center">
            <img src="assets/images/micro.png" alt="image" />
            <span class="text-center d-block mt-2">TR-Micro</span>
          </div>
          <div class="item text-center">
            <img src="assets/images/mini.png" alt="image" />
            <span class="text-center d-block mt-2">TR-Mini</span>
          </div>
          <div class="item text-center">
            <img src="assets/images/prime.png" alt="image" />
            <span class="text-center d-block mt-2">TR-Prime</span>
          </div>
          <div class="item text-center">
            <img src="assets/images/micro.png" alt="image" />
            <span class="text-center d-block mt-2">TR-Micro</span>
          </div>
          <div class="item text-center">
            <img src="assets/images/mini.png" alt="image" />
            <span class="text-center d-block mt-2">TR-Mini</span>
          </div>
          <div class="item text-center">
            <img src="assets/images/prime.png" alt="image" />
            <span class="text-center d-block mt-2">TR-Prime</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<section class="sec3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-5">
        <div class="img_abs"></div>
      </div>
      <div class="col-12 col-lg-7">
        <h3>Topride Travel Agencies</h3>
        <p>The best way to travel to your destination .</p>
        <div class="ag_bx z-depth-1">
          <h4>
            Get your vehicle hired through your APP
          </h4>
          <span>
            Verified drivers, an emergency alert button, and live ride tracking
            are some of the features that we have in place to ensure you a safe
            travel experience.
          </span>
          <div class="mt-4">
            <a href="#">
              <img src="assets/images/apple-store.png" />
            </a>
            <a href="#">
              <img src="assets/images/google-play.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-60">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-4">
        <div class="icon_info ic_ovr">
          <h4>Maps and Location</h4>
          <span
            >Now go cashless and travel easy. Simply recharge your Ola
            money</span
          >
          <div class="icon_pht">
            <img src="assets/images/nn1.png" alt="image" />
          </div>
        </div>
        <div class="icon_info ic_ovr mt-5">
          <h4>In-app Payments</h4>
          <span
            >Now go cashless and travel easy. Simply recharge your Ola
            money</span
          >
          <div class="icon_pht">
            <img src="assets/images/nn2.png" alt="image" />
          </div>
        </div>
        <div class="icon_info ic_ovr mt-5">
          <h4>Push Notification</h4>
          <span
            >Now go cashless and travel easy. Simply recharge your Ola
            money</span
          >
          <div class="icon_pht">
            <img src="assets/images/nn3.png" alt="image" />
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <img
          src="assets/images/mobile-image1.png"
          alt="image"
          class="img-fluid"
        />
      </div>
      <div class="col-12 col-lg-4">
        <div class="icon_info ic_ovr_2">
          <h4>Dispatch and Tracking Panel</h4>
          <span
            >Now go cashless and travel easy. Simply recharge your Ola
            money</span
          >
          <div class="icon_pht_2">
            <img src="assets/images/nn4.png" alt="image" />
          </div>
        </div>
        <div class="icon_info ic_ovr_2 mt-5">
          <h4>Referral</h4>
          <span
            >Now go cashless and travel easy. Simply recharge your Ola
            money</span
          >
          <div class="icon_pht_2">
            <img src="assets/images/nn5.png" alt="image" />
          </div>
        </div>
        <div class="icon_info ic_ovr_2 mt-5">
          <h4>Reports</h4>
          <span
            >Now go cashless and travel easy. Simply recharge your Ola
            money</span
          >
          <div class="icon_pht_2">
            <img src="assets/images/nn6.png" alt="image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-5">
        <h3>Book a cab from the App</h3>
        <p>Download the app for exclusive deals and ease of booking</p>
        <div class="mt-4">
          <a href="#">
            <img src="assets/images/apple-store.png" />
          </a>
          <a href="#">
            <img src="assets/images/google-play.png" />
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <img src="assets/images/mobile-image2.png" alt="image" />
      </div>
    </div>
  </div>
</section>
