


/************ public css **************/

ul{list-style-type: none;padding:0;margin:0;}
.btn-primary, .btn-custom{-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); border-radius: .125rem; -webkit-border-radius: .125rem; text-transform: uppercase; font-size: 13px; font-weight: 600; letter-spacing: .5px;background: #fede03;color:#000;border:none; }

.btn-primary:hover, .btn-custom:hover{background-color: #000; transition:all 0.5s ease; -ms-transition:all 0.5s ease; -webkit-transition:all 0.5s ease; -o-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15); box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15); outline: 0; }

.btn-transparent{-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);border:2px solid #fede03;color:#fff;background:transparent;text-transform: uppercase; font-size: 13px;font-weight: 600; letter-spacing: .5px;height:40px;padding: 0 5px;line-height: 12px;}
.btn-transparent:hover{background: #fede03;color:#000;font-weight:600;    }

.z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
}
.p-60{padding:60px 0;}


/********* banner css ****************/

.banner{background-image:url(../images/homebanner.jpg);background-repeat:no-repeat; background-size:cover;height:700px;position:relative;background-position:100% 100% }
.containerovr {    position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; height: 310px;
    text-align: center;}
.bannertxt h1{color: #fff;font-size:40px;margin-bottom: 71px}
.btn_label{color: #fff; display: block; line-height: 18px; margin-bottom: 8px; font-weight: 600;text-align:left;    font-size: 18px; letter-spacing: .5px;} 
.btn_area{background: rgba(0,0,0,.5);max-width:762px;padding:40px;}



/************ header css **************/

header{border-bottom:2px solid #333;padding:10px 0;}
.hd_menu li{float: left;padding-right:60px;}
.hd_menu li a{color:#fff}


/************ topride travel agenies section **************/


.sec3{background-image:url(../images/sec3bg.png);background-repeat:no-repeat; background-size:cover;position:relative;background-position:100% 100%;padding-top:60px;}
.img_abs{background-image:url(../images/mobile-image1.png);background-repeat:no-repeat; background-size:cover;height:473px;width:334px;}
.ag_bx{background: #fff;padding:20px;}


/************ topride features section **************/

.icon_info{position: relative;}
.icon_info h4{font-size:20px;font-weight:600;}

/************ book ola section **************/

.sec4{background-image:url(../images/sec4bg.png);background-repeat:no-repeat; background-size:cover;position:relative;background-position:100% 100%;padding-top:60px;}
.sec4 h3, .sec4 p{color:#fff;}


/************ footer **************/

footer{padding:30px 0;}
.footer_links li{float:left;padding-right:20px;}
.footer_links li a{font-size:15px;font-weight:600;color:#000;}