@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");

/* "node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css",
"node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css", */
/************ public css **************/

body {
  font-family: "Open Sans", sans-serif;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.btn-dark {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  background: #090909;
  color: #fff;
  border: none;
  padding: 15px;
}

.btn-dark:hover {
  background-color: #090909;
  transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  outline: 0;
}

.btn-primary,
.btn-custom {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  background: #fede03;
  color: #000;
  border: none;
}

.btn-primary:hover,
.btn-custom:hover {
  background-color: #000;
  transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  outline: 0;
}

.btn-transparent {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 2px solid #fede03;
  color: #fff;
  background: transparent;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  height: 40px;
  padding: 0 5px;
  line-height: 12px;
}
.btn-transparent:hover {
  background: #fede03;
  color: #000;
  font-weight: 600;
}

.z-depth-1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.p-60 {
  padding: 60px 0;
}
.img-responsive {
  max-width: 100%;
}
.table {
  margin-bottom: 0;
}
.th_txt {
  font-size: 16px;
  color: #989898;
}
.th_clr {
  color: #000 !important;
}
.form-control {
  border: 2px solid #707070;
  border-radius: 0;
  height: 40px;
}
.form-control:focus {
  border: 2px solid #fede03;
  box-shadow: none;
  transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
.form-control:focus .fas {
  color: #fede03;
}
.text_left {
  text-align: left !important;
}
.innerheading {
  font-weight: 600;
  text-align: center;
  font-size: 32px;
}
.p_relative {
  position: relative;
}
.innerheading2 {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 0;
}
.innerheading3 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 0;
}
.pl_60 {
  padding-left: 60px;
}
.transition {
  transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

/*carousel css*/

.owl-carousel .owl-item img {
  width: auto;
  margin: auto;
}
.owl-nav .owl-prev {
  display: none !important;
}
.owl-dots {
  display: none;
}
.icon_pht {
  position: absolute;
  top: 0;
  right: 0;
}

.icon_pht_2 {
  position: absolute;
  top: 0;
  left: 0;
}
.ic_ovr {
  padding-right: 90px;
}

.item span {
  font-size: 21px;
}
.ic_ovr_2 {
  padding-left: 110px;
}

.owl-nav .owl-next {
  right: -170px;
  background: url(/assets/images/rightarrow.png) no-repeat top left !important;
  width: 129px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto !important;
  height: 27px;
  text-indent: 1001px;
  overflow: hidden;
}
.owl-nav .owl-next:focus {
  outline: none;
}

/********* banner css ****************/

.banner {
  background-image: url(../images/homebanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: relative;
  background-position: 100% 100%;
}
.containerovr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 310px;
  text-align: center;
}
.bannertxt h1 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 71px;
}
.btn_label {
  color: #fff;
  display: block;
  line-height: 18px;
  margin-bottom: 8px;
  font-weight: 600;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.btn_area {
  background: rgba(0, 0, 0, 0.5);
  max-width: 762px;
  padding: 40px;
}

/************ header css **************/

header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

header.pagescrolled {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 3px 0 #000;
}

.hd_menu li {
  float: left;
  padding-right: 60px;
}
.hd_menu li a {
  color: #fff;
}

/************ topride travel agenies section **************/

.sec3 {
  background-image: url(../images/sec3bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 100% 100%;
  padding-top: 60px;
}
.img_abs {
  background-image: url(../images/mobile-image1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 473px;
  width: 334px;
}
.ag_bx {
  background: #fff;
  padding: 20px;
}

/************ topride features section **************/

.icon_info {
  position: relative;
}
.icon_info h4 {
  font-size: 20px;
  font-weight: 600;
}

/************ book ola section **************/

.sec4 {
  background-image: url(../images/sec4bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 100% 100%;
  padding-top: 60px;
}
.sec4 h3,
.sec4 p {
  color: #fff;
}

/************ footer **************/

footer {
  padding: 30px 0;
}
.footer_links li {
  float: left;
  padding-right: 20px;
}
.footer_links li a {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

/********* about us **********/

.innerbanner {
  background-image: url(../images/innerbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 100% 100%;
  position: relative;
  height: 374px;
}
.innerbanner2 {
  background-image: url(../images/innerbanner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 100% 100%;
  position: relative;
  height: 374px;
}
.innerbanner h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
  width: 350px;
  height: 50px;
  text-align: center;
}
.icon_sec {
  background-image: url(../images/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 100% 100%;
  position: relative;
  height: 500px;
}
.icon_sec .fas {
  color: #fff;
  font-size: 60px;
}
.icon_sec span {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
.pad-160 {
  padding: 160px 0;
}

/********* dashboard header **********/

.dashWrapper {
  padding: 110px 40px 0px 300px;
}
.dashBanner header {
  /*position: static;*/
  border-bottom: 0px;
  background: #fff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  height: 70px;
}
.dashBanner .hd_menu li a {
  color: #000;
  font-weight: 600;
}
.hd_menu li:last-child {
  padding-right: 0px;
}
.dashHeader {
  padding: 0px 25px;
}

/********* dashboard sidemenu **********/

.sideMenuWrap {
  padding-top: 70px;
  width: 260px;
  position: fixed;
  height: 100vh;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: #000;
  overflow: auto;
}
.sideMenuToggle {
  display: none;
}
.sideMenuItem {
  position: relative;
}
.sideMenuItem:after {
  position: absolute;
  content: "";
  right: 0px;
  bottom: 0pc;
  width: calc(100% - 72px);
  background: #272626;
  height: 1px;
}
.sideMenuItem {
  padding: 20px 0px;
}
.sideMenuItem a {
  color: #747474;
  font-weight: 600;
  transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
.sideMenuItem > a {
  padding: 0px 28px;
}
.sideMenuItem a:hover {
  color: #fff;
}
.sideMenuItem.active > a {
  color: #fff;
}
.sideMenuItem .icnWrap {
  font-size: 28px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  margin-right: 12px;
}
.sideSubMenuItems {
  padding-left: 72px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.sideSubMenuItems a {
  display: block;
}
.sideSubMenuItems li {
  margin-bottom: 12px;
}
.sideSubMenuItems li:last-child {
  margin-bottom: 0px;
}

/**** my booking dashboard right part ****/

.db_heading {
  font-size: 21px;
  font-weight: 600;
}
.driver_block {
  padding: 15px 15px 15px 15px;
  border: 1px solid #ccc;
  margin-top: 20px;
  border-radius: 10px;
}
.driver_block table {
  margin-top: 10px;
}
.driver_block table tr td {
  border: 0;
  padding-left: 0;
  padding-top: 0;
}
.driver_block table tr td:first-child {
  color: #414141;
  font-weight: 600;
}
.driver_block table tr td:last-child {
  color: #000;
  font-weight: 600;
}
.driver_block .mr-auto {
  width: 100%;
}
.driver_block span {
  font-size: 17px;
  font-weight: 600;
  color: #414141;
  margin-bottom: 10px;
  display: block;
}
.db_price {
  font-size: 24px !important;
}
.dv_info {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 10px;
}
.dr_right {
  position: relative;
  padding-left: 60px;
}
.dr_right h3 {
  font-size: 19px;
  font-weight: 600;
}
.dr_right span {
  color: #8a8a8a;
  font-size: 15px;
}
.dr_right p {
  color: #000;
  font-size: 15px;
  margin-bottom: 0;
}
.pr_image {
  position: absolute;
  top: 0;
  left: 0;
}
.pr_image img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

/******* modal css ******/

.modal-header {
  border-bottom: 0;
}
.modal_headng {
  font-size: 21px;
  font-weight: 600;
}
.fa-smile {
  color: #000;
}
.modal-body {
  padding: 0 40px 40px 40px;
}
.custom_width {
  max-width: 375px;
}
.modal_bg {
  background-image: url(../images/modal_bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.mb_100 {
  margin-bottom: 100px;
}
.pad_left50 {
  padding-left: 40px;
}
.form-group {
  position: relative;
}
.modal-body .fas {
  position: absolute;
  top: 11px;
  left: 11px;
  font-size: 20px;
}
.modal-header .fas {
  position: absolute;
  left: 12px;
  font-size: 21px;
}

/************ map sectn css ***************/

.map_sectn {
  position: relative;
}
.map_form {
  background: #fff;
  padding: 20px;
  position: absolute;
  top: 10px;
  max-width: 320px;
  left: 20px;
}
.form-group {
  position: relative;
}
.form_icon {
  position: absolute;
  top: 8px;
  right: 10px;
}
.form_icon_2 {
  position: absolute;
  top: 2px;
  right: 2px;
  background: #707070;
  padding: 6px 14px;
  color: #fff;
}

/************* enrollemnt page css ***************/

.innerbanner3 {
  background-image: url(../images/innerbanner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 100% 100%;
  position: relative;
  height: 374px;
}

.innerbanner3 h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
  width: 350px;
  height: 50px;
  text-align: center;
}
.w420 {
  width: 420px !important;
}

.profile_info {
  position: relative;
}
.profile_info img {
  width: 124px;
  border-radius: 50%;
  height: 124px;
}
.fa_edit {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -13px;
  font-size: 20px;
  background: #000;
  color: #fff;
  width: 38px;
  height: 38px;
  text-align: center;
  border-radius: 100%;
  padding: 8px 10px;
}

.upload {
  position: absolute;
  top: 0;
  right: -11px;
  bottom: 0;
  margin: auto;
  left: auto;
  width: 35px;
  height: 33px;
  opacity: 0;
  cursor: pointer;
}

.inn_bg {
  background: #e5e5e5;
}
.cc_box {
  background: #fff;
  padding: 35px;
  border-radius: 2px;
}

label {
  color: #090909;
  font-weight: 600;
  margin-bottom: 2px;
}
.pull-right {
  float: right;
}
hr {
  margin: 0;
  padding: 0;
}

.chckbx_custom {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chckbx_custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #000;
  border-radius: 5px;
}

.chckbx_custom:hover input ~ .checkmark {
  background-color: #000;
}

.chckbx_custom input:checked ~ .checkmark {
  background-color: #000;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.chckbx_custom input:checked ~ .checkmark:after {
  display: block;
}

.chckbx_custom .checkmark:after {
  left: 9px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.chk_txt {
  position: relative;
  top: -1px;
  font-size: 16px;
}

.dark_ovr {
  padding: 15px 120px;
  border-radius: 10px;
  font-size: 20px;
  text-transform: capitalize;
}
