<footer>
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <ul class="footer_links">
          <li><a routerLink="/about">About Us</a></li>
          <li><a href="#">Career</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div>
        <ul class="footer_links">
          <li><a href="#">Become a driver</a></li>
          <li><a href="#">Become a rider</a></li>
        </ul>
      </div>
    </div>
    <div class="d-flex align-items-center mt-3">
      <div class="mr-auto">
        <img src="assets/images/footerlogo.png" alt="logo" />
      </div>
      <div>
        <ul class="footer_links">
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">© 2019 Topride.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
