<footer>
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <ul class="footer_links ftgap">
          <li><a routerLink="/about" class="transition">About Us</a></li>
          <li><a routerLink="/career" class="transition">Career</a></li>
          <li><a routerLink="/coming-soon" class="transition">Blog</a></li>
        </ul>
      </div>
      <div>
        <ul class="footer_links ftgap2">
          <li>
            <a routerLink="/driver" class="transition">Become a Driver</a>
          </li>
          <li><a routerLink="/rider" class="transition">Become a Rider</a></li>
        </ul>
      </div>
    </div>
    <div class="d-flex align-items-center mt-3">
      <div class="mr-auto">
        <img routerLink="/" src="assets/images/footerlogo.png" alt="logo" />
      </div>
      <div>
        <ul class="footer_links ftgap2">
          <li>
            <a routerLink="/terms-and-conditions" class="transition"
              >Terms &amp; Conditions</a
            >
          </li>
          <li>
            <a routerLink="/contactus" class="transition">Contact Us</a>
          </li>
          <li>
            <a routerLink="privacy-policy" class="transition">Privacy Policy</a>
          </li>
          <li><a routerLink="/">© 2019 Topride.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
