<div class="modal-body">
  <div class="text-center">
    <h3 class="modal_headng">OTP Verification</h3>
    <button type="button" class="close" mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
    <span class="th_txt th_clr">
      <strong
        >We sent you a code to verify your mobile number XXXXXX{{
          shortPhone
        }}</strong
      >
    </span>
    <form #form="ngForm" (submit)="form.valid && validateLoginOtp(form)">
      <div class="mt-4">
        <div class="row">
          <div class="col-lg-12">
            <input
              type="text-center"
              class="form-control"
              name="otp"
              ngModel
              #otp="ngModel"
              required
              number
              maxlength="4"
              minlength="4"
            />
            <span class="error" *ngIf="form.submitted && otp.errors"
              >Please enter a valid otp</span
            >
          </div>
        </div>
      </div>
      <div class="mt-4">
        <span class="th_txt ">I did’nt receive a code</span>
      </div>
      <div class="mt-2">
        <button (click)="resendOTP()" type="button" class="btn btn-link th_clr">
          <strong>Resend Code</strong>
        </button>
      </div>
      <div class="mb_100 mt-3">
        <button type="submit" class="btn btn-dark w-100 fst_modal">
          Verify
        </button>
      </div>
    </form>
  </div>
</div>
