<section class="innerbanner">
  <h1>Our Privacy Policy</h1>
</section>
<section class="p-60 inn_bg">
  <div class="container">
    <div class="cc_box">
      <div class="row align-items-center">
      <div class="col-md-12">
        <div class="terms-content">
          
          
          <ul>
            <li>
              <p>
               Your privacy matters to Topride Cabs (the “Company”, “we”, “Topride Cabs”, or “us”). This Privacy Policy explains how we collect, process, use, share and protect information about you. It also tells you how you can access and update your information and make certain choices about how your information is used.
              </p>
            </li>
            <li>
              <p>
                The Privacy Policy covers both “online” (e.g., web and mobile services, including any websites operated by us such as https://www.Topride Cabscabs.com/ or Mobile Application, however accessed and/or used, whether via personal computers, mobile devices or otherwise) and “offline” (e.g., collection of data through mailings, telephone, or in person) activities owned, operated, provided, or made available by the Company. Our “online” and “offline” activities, in relation to facilitation of taxi hire services through a network of third party drivers and taxi operators, are collectively referenced as the “Services”. This Privacy Policy also applies to your use of interactive features or downloads that: (i) we own or control; (ii) are available through the Services; or (iii) interact with the Services and post or incorporate this Privacy Policy.
              </p>
            </li>
            <li>
              <p>
                <strong>BY ACCEPTING THE CUSTOMER TERMS AND CONDITIONS, YOU AGREE TO THE TERMS OF THIS PRIVACY POLICY.</strong> Please review the following carefully so that you understand our privacy practices. If you do not agree to this Privacy Policy, do not accept the Customer Terms and Conditions or use our Services. This Privacy Policy is incorporated by reference into the Customer Terms and Conditions. If you have questions about this Privacy Policy, please contact us through email address provided on our website and/ or Mobile Application.

              </p>
            </li>
          </ul>
          <h3>Defitions</h3>
          <ul>
            <li>
              <p>
                Unless otherwise provided in this Privacy Policy, the terms capitalized in the Privacy Policy shall have the meaning as provided hereunder:
              </p>
              <p>
                <strong>"Co-branded Services”</strong> shall have the meaning assigned to the term in paragraph 4(c) hereto.
              </p>
              <p>
                <strong>"Device”</strong> shall mean computer, mobile or other device used to access the Services.
              </p> 
              <p>
                <strong>"Device Identifier”</strong> shall mean IP address or other unique identifier for the Device.
              </p> 
              <p>
                <strong>"Mobile Application”</strong> shall mean IP address or other unique identifier for the Device.
              </p> 
              <p>
                <strong>"Mobile Device Information"</strong> shall have the meaning assigned to the term in paragraph 2(d)(ii) hereto
              </p> 
              <p>
                shall, unless it be repugnant to the context or meaning thereof, be deemed to mean and include all our successors, affiliates and permitted assigns.
              </p>
              <p>
                <strong>"Promotion"</strong> shall mean any contest and other promotions offered by us.
              </p> 
              <p>
                <strong>"Protected Information"</strong> shall mean such categories of information that could reasonably be used to identify you personally, including your name, e-mail address, and mobile number.
              </p>
              <p>
                <strong>"TPSP"</strong> shall mean a third party service provider.
              </p>
              <p>
                <strong>"Usage Information"</strong> shall have the meaning assigned to the term in paragraph 2(b)(i) 
              </p>
            </li>
          </ul>
          <h3>WHAT INFORMATION DO WE COLLECT?</h3>
          <ul>
            <li>
              <p>
                We may ask you to provide us with certain Protected Information. We may collect this information through various means and in various places through the Services, including account registration forms, contact us forms, or when you otherwise interact with us. When you sign up to use the Services, you create a user profile. We shall ask you to provide only such Protected Information which is for lawful purpose connected with our Services and necessary to be collected by us for such purpose.
              </p>
              <p>
                The current data fields that might be requested for are: o INFORMATION WE COLLECT AS YOU ACCESS AND USE OUR SERVICES In addition to any Protected Information or other information that you choose to submit to us, we and our TPSP may use a variety of technologies that automatically (or passively) collect certain information whenever you visit or interact with the Services (“Usage Information”). This Usage Information may include the browser that you are using, the URL that referred you to our Services, all of the areas within our Services that you visit, and the time of day, among other information. In addition, we collect your Device Identifier for your Device. A Device Identifier is a number that is automatically assigned to your Device used to access the Services, and our computers identify your Device by its Device Identifier.

              </p>
              <p>
                In case of booking via call centre, Topride Cabs may record calls for quality and training purposes.
              </p> 
              <p>
                In addition, tracking information is collected as you navigate through our Services, including, but not limited to geographic areas. The driver’s mobile phone will send your GPS coordinates, during the ride, to our servers. Most GPS enabled mobile devices can define one’s location to within 50 feet.
              </p> 
              <p>
                Usage Information may be collected using a cookie. If you do not want information to be collected through the use of cookies, your browser allows you to deny or accept the use of cookies. Cookies can be disabled or controlled by setting a preference within your web browser or on your Device.
              </p> 
            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="pad-160 icon_sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-taxi"></i>
          <span class="d-block mt-3">1000+</span>
          <span class="d-block">
            Lorem ipsum dollar siet amiet
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-city"></i>
          <span class="d-block mt-3">10+</span>
          <span class="d-block">
            Lorem ipsum dollar siet amiet
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-users"></i>
          <span class="d-block mt-3">1000+</span>
          <span class="d-block">
            Lorem ipsum dollar siet amiet
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-user-tie"></i>
          <span class="d-block mt-3">1000+</span>
          <span class="d-block">
            Lorem ipsum dollar siet amiet
          </span>
        </div>
      </div>
    </div>
  </div>
</section> -->
