<section class="innerbanner">
  <h1>Our Privacy Policy</h1>
</section>
<section class="p-60">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="terms-content">
          <h2>Our Privacy Policy</h2>
          <hr />
          <h3>General rules</h3>
          <ul>
            <li>
              <p>
                Creative Tim does not share personal information of any kind
                with anyone. We will not sell or rent your name or personal
                information to any third party. We do not sell, rent or provide
                outside access to our mailing list or any data we store. Any
                data that a user stores via our facilities is wholly owned by
                that user or business. At any time a user or business is free to
                take their data and leave, or to simply delete their data from
                our facilities.
              </p>
            </li>
            <li>
              <p>
                Creative Tim only collects such personal information that is
                necessary for you to access and use our services. This personal
                information includes, but is not limited to, first and last
                name, email address.
              </p>
            </li>
            <li>
              <p>
                Creative Tim may release personal information if Creative Tim is
                required to by law, search warrant, subpoena, court order or
                fraud investigation. We may also use personal information in a
                manner that does not identify you specifically nor allow you to
                be contacted but does identify certain criteria about our Site's
                users in general (such as we may inform third parties about the
                number of registered users, number of unique visitors, and the
                pages most frequently browsed).
              </p>
            </li>
          </ul>
          <h3>Changes about privacy</h3>
          <ul>
            <li>
              <p>
                If we change our terms of use we will post those changes on this
                page. Registered users will be sent an email that outlines
                changes made to the terms of use.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pad-160 icon_sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-taxi"></i>
          <span class="d-block mt-3">1000+</span>
          <span class="d-block">
            Lorem ipsum dollar siet amiet
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-city"></i>
          <span class="d-block mt-3">10+</span>
          <span class="d-block">
            Lorem ipsum dollar siet amiet
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-users"></i>
          <span class="d-block mt-3">1000+</span>
          <span class="d-block">
            Lorem ipsum dollar siet amiet
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-user-tie"></i>
          <span class="d-block mt-3">1000+</span>
          <span class="d-block">
            Lorem ipsum dollar siet amiet
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
