<section class="innerbanner2">
  <div class="inn_info">
    <h1>Topride for Rider</h1>
    <div class="d-block text-center mt-3 mb-3">
      <button type="button" class="btn btn-transparent">
        Sign up to Rider
      </button>
    </div>
    <div class="text-center res_bn">
      <a href="#">
        <img
          src="assets/images/apple-store.png"
          class="img-responsive m-auto"
        />
      </a>
      <a
        href="https://play.google.com/store/apps/details?id=com.topridedriver"
        target="_blank"
      >
        <img
          src="assets/images/google-play.png"
          class="m-auto img-responsive"
        />
      </a>
    </div>
  </div>
</section>
<section class="p-60 text-justify">
  <div class="container">
    <h3 class="innerheading mb-5">TopRide Offers its User</h3>
    <span class="d-block mt-3">
      Connecting India with a very fine chain, Topride is a company that keeps
      smooth travel a priority. We allow our riders communicate professional and
      courteous chauffeurs that complete kilometers’ journey with extreme
      priority. No matter you are planning a trip with your friends or need to
      go on an important business meeting, do not wait to drive so far, instead
      sit back and enjoy your time with a great drive. Explore our awesome fleet
      and share the fastest travel experience with your friend and loved ones.
    </span>
    <span class="d-block mt-3">
      We are available 24x7 to provide door to door service to customers who are
      alone or in a group. Our expert drivers will insure you with great
      hospitality and cab entertainment to enhance your joy of travel.
    </span>
    <span class="d-block mt-3">
      Looking for one-way trip, round-trip fare or intercity travel service, our
      top partner chauffeurs will meet your need!
    </span>

    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <div class="inn_box transition p-4 text-justify">
          <div>
            <img
              src="assets/images/icon1.png"
              alt="image"
              class="img-responsive"
            />
          </div>
          <h3 class="innerheading3 mb-2 mt-2">Low Price</h3>
          <span class=""
            >Exhilarating your travel experience and reaching your particular
            needs, our drivers provide a trip that will allow you explore the
            length and breadth of India at a very comparative rate. We also have
            various cars with different rates to suit your pocket and meet your
            occasion requirement.
          </span>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="inn_box transition p-4 text-justify">
          <div>
            <img
              src="assets/images/icon2.png"
              alt="image"
              class="img-responsive"
            />
          </div>
          <h3 class="innerheading3 mb-2 mt-2">Outstation Security</h3>
          <span class=""
            >We keep an insight on our driver reaching at your pick location, so
            that you do not have to worry about on-time arrival. We ensure safe
            and secure trip to passenger as we insure your drive for any mishap.
            Keeping your security in mind, we request your to inform your family
            and loved ones and in case of emergency call our service center and
            tell current position.
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="inn_box transition p-4 text-justify">
          <div>
            <img
              src="assets/images/icon3.png"
              alt="image"
              class="img-responsive"
            />
          </div>
          <h3 class="innerheading3 mb-2 mt-2">Easy Booking</h3>
          <span class=""
            >Locate and assess the kind of trip and catch an excellent drive
            quick. Our experienced and well-trained drivers will appear in a
            minute and drive you safe to your destination. You can also speak
            with a local driver specialist to insure your trip in case you want
            some more information.</span
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-60 inner_bgg">
  <div class="container">
    <div class="row ">
      <div class="col-12 col-lg-6">
        <h3 class="innerheading2 mb-5">How it Works</h3>
        <div class="p_relative pl_60 form-group">
          <div class="no">
            <span>1</span>
          </div>
          <h3 class="innerheading3">Create an Account</h3>
          <span class="">
            Share your few basic details with us.
          </span>
        </div>
        <div class="p_relative pl_60 form-group">
          <div class="no">
            <span>2</span>
          </div>
          <h3 class="innerheading3">Enter Your Destination</h3>
          <span class="">
            Easily select your drop location with help of map.
          </span>
        </div>
        <div class="p_relative pl_60 form-group">
          <div class="no">
            <span>3</span>
          </div>
          <h3 class="innerheading3">Meet Your Driver.</h3>
          <span class="">
            Driver will reach to you in just few minutes.
          </span>
        </div>
        <div class="p_relative pl_60 form-group">
          <div class="no">
            <span>4</span>
          </div>
          <h3 class="innerheading3">Sit Back and Relax</h3>
          <span class="">
            Feel save and secure and reach you destination.
          </span>
        </div>
        <div class="p_relative pl_60 form-group">
          <div class="no">
            <span>5</span>
          </div>
          <h3 class="innerheading3">Rate Your Trip</h3>
          <span class="">
            Don’t forget to rate your ride, it helps us to improve our service.
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-6 text-center">
        <img src="assets/images/img-4.png" class="img-responsive m-auto" />
      </div>
    </div>
  </div>
</section>
