<div class="mt-20">
  <div class="d-flex">
    <div class="col-md-3">
      <ul class="sideMenuItems">
        <li class="sideMenuItem">
          <a href="#" class="d-flex align-items-center">
            <span class="icnWrap"><i class="fas fa-car-alt"></i></span>
            <span class="lableWrap">Book your ride</span>
          </a>
        </li>
        <li class="sideMenuItem active">
          <a href="#" class="d-flex align-items-center">
            <span class="icnWrap"><i class="fas fa-wallet"></i></span>
            <span class="lableWrap">My Bookings</span>
          </a>
        </li>
        <li class="sideMenuItem">
          <a href="#" class="d-flex align-items-center">
            <span class="icnWrap"><i class="far fa-credit-card"></i></span>
            <span class="lableWrap">Payment Method</span>
          </a>
          <ul class="sideSubMenuItems">
            <li><a href="#">B2B Rides</a></li>
            <li><a href="#">Book B2B Ride</a></li>
            <li><a href="#">B2B Earnings</a></li>
          </ul>
        </li>
        <li class="sideMenuItem">
          <a href="#" class="d-flex align-items-center">
            <span class="icnWrap"><i class="fas fa-exchange-alt"></i></span>
            <span class="lableWrap">TopRide Business</span>
          </a>
          <ul class="sideSubMenuItems">
            <li><a href="#">B2B Rides</a></li>
            <li><a href="#">Book B2B Ride</a></li>
            <li><a href="#">B2B Earnings</a></li>
          </ul>
        </li>
        <li class="sideMenuItem">
          <a href="#" class="d-flex align-items-center">
            <span class="icnWrap"><i class="fas fa-handshake"></i></span>
            <span class="lableWrap">Support</span>
          </a>
        </li>
        <li class="sideMenuItem">
          <a href="#" class="d-flex align-items-center">
            <span class="icnWrap"><i class="fas fa-gift"></i></span>
            <span class="lableWrap">Refer & Earn</span>
          </a>
        </li>
        <li class="sideMenuItem">
          <a href="#" class="d-flex align-items-center">
            <span class="icnWrap"><i class="fas fa-sign-out-alt"></i></span>
            <span class="lableWrap">Logout</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <router-outlet name="dashboard"></router-outlet>
    </div>
  </div>
</div>
