<div class="sideMenuWrap">
  <div class="sideMenuToggle"><i class="fas fa-bars"></i></div>
  <div class="sideMenu">
    <ul class="sideMenuItems">
      <li class="sideMenuItem">
        <a href="#" class="d-flex align-items-center">
          <span class="icnWrap"><i class="fas fa-car-alt"></i></span>
          <span class="lableWrap">Book your ride</span>
        </a>
      </li>
      <li class="sideMenuItem active">
        <a href="#" class="d-flex align-items-center">
          <span class="icnWrap"><i class="fas fa-wallet"></i></span>
          <span class="lableWrap">My Bookings</span>
        </a>
      </li>
      <li class="sideMenuItem">
        <a href="#" class="d-flex align-items-center">
          <span class="icnWrap"><i class="far fa-credit-card"></i></span>
          <span class="lableWrap">Payment Method</span>
        </a>
        <ul class="sideSubMenuItems">
          <li><a href="#">B2B Rides</a></li>
          <li><a href="#">Book B2B Ride</a></li>
          <li><a href="#">B2B Earnings</a></li>
        </ul>
      </li>
      <li class="sideMenuItem">
        <a href="#" class="d-flex align-items-center">
          <span class="icnWrap"><i class="fas fa-exchange-alt"></i></span>
          <span class="lableWrap">TopRide Business</span>
        </a>
        <ul class="sideSubMenuItems">
          <li><a href="#">B2B Rides</a></li>
          <li><a href="#">Book B2B Ride</a></li>
          <li><a href="#">B2B Earnings</a></li>
        </ul>
      </li>
      <li class="sideMenuItem">
        <a href="#" class="d-flex align-items-center">
          <span class="icnWrap"><i class="fas fa-handshake"></i></span>
          <span class="lableWrap">Support</span>
        </a>
      </li>
      <li class="sideMenuItem">
        <a href="#" class="d-flex align-items-center">
          <span class="icnWrap"><i class="fas fa-gift"></i></span>
          <span class="lableWrap">Refer & Earn</span>
        </a>
      </li>
      <li class="sideMenuItem">
        <a href="#" class="d-flex align-items-center">
          <span class="icnWrap"><i class="fas fa-sign-out-alt"></i></span>
          <span class="lableWrap">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div>
  <h3 class="db_heading">My Bookings</h3>
  <div class="driver_block z-depth-1">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="d-flex align-items-top">
          <div class="mr-auto">
            <span>Booking Id: 628356790</span>
            <table class="table">
              <tbody>
                <tr>
                  <td>6:15 PM</td>
                  <td>B-25, Sec 2 Noida, U.P, 210301</td>
                </tr>
                <tr>
                  <td>6:15 PM</td>
                  <td>B-25, Sec 2 Noida, U.P, 210301</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div><span class="db_price"> &#8377;50 </span></div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="dv_info">
          <span>Driver</span>
          <div class="d-flex align-items-center">
            <div class="mr-auto">
              <div class="dr_right">
                <h3>Raj Kumar</h3>
                <span>DL 1RT 1789</span>
                <p>4/5 Rated</p>
                <div class="pr_image">
                  <img
                    src="assets/images/profile.png"
                    alt="image"
                    class="img-responsive"
                  />
                </div>
              </div>
            </div>
            <div class="mr-4 text-center">
              <img src="assets/images/success.png" alt="image" />
              <span class="d-block">Success</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="driver_block z-depth-1">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="d-flex align-items-top">
          <div class="mr-auto">
            <span>Booking Id: 628356790</span>
            <table class="table">
              <tbody>
                <tr>
                  <td>6:15 PM</td>
                  <td>B-25, Sec 2 Noida, U.P, 210301</td>
                </tr>
                <tr>
                  <td>6:15 PM</td>
                  <td>B-25, Sec 2 Noida, U.P, 210301</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div><span class="db_price"> &#8377;50 </span></div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="dv_info">
          <span>Driver</span>
          <div class="d-flex align-items-center">
            <div class="mr-auto">
              <div class="dr_right">
                <h3>Raj Kumar</h3>
                <span>DL 1RT 1789</span>
                <p>4/5 Rated</p>
                <div class="pr_image">
                  <img
                    src="assets/images/profile.png"
                    alt="image"
                    class="img-responsive"
                  />
                </div>
              </div>
            </div>
            <div class="mr-4 text-center">
              <img src="assets/images/cancel.png" alt="image" />
              <span class="d-block">Cancel</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="driver_block z-depth-1">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="d-flex align-items-top">
          <div class="mr-auto">
            <span>Booking Id: 628356790</span>
            <table class="table">
              <tbody>
                <tr>
                  <td>6:15 PM</td>
                  <td>B-25, Sec 2 Noida, U.P, 210301</td>
                </tr>
                <tr>
                  <td>6:15 PM</td>
                  <td>B-25, Sec 2 Noida, U.P, 210301</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div><span class="db_price"> &#8377;50 </span></div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="dv_info">
          <span>Driver</span>
          <div class="d-flex align-items-center">
            <div class="mr-auto">
              <div class="dr_right">
                <h3>Raj Kumar</h3>
                <span>DL 1RT 1789</span>
                <p>4/5 Rated</p>
                <div class="pr_image">
                  <img
                    src="assets/images/profile.png"
                    alt="image"
                    class="img-responsive"
                  />
                </div>
              </div>
            </div>
            <div class="mr-4 text-center">
              <img src="assets/images/success.png" alt="image" />
              <span class="d-block">Success</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
