<div class="dashboard-main">
  <div class="d-flex">
    <div class="col-md-3">
      <ul class="sideMenuItems">
        <li class="sideMenuItem" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/rider/dashboard" class="d-flex align-items-center">
            <span class="icnWrap"><i class="fas fa-wallet"></i></span>
            <span class="lableWrap">My Bookings</span>
          </a>
        </li>
        <!-- <li class="sideMenuItem" routerLinkActive="active">
          <a routerLink="settings" class="d-flex align-items-center">
            <span class="icnWrap"><i class="fas fa-car-alt"></i></span>
            <span class="lableWrap">Settings</span>
          </a>
        </li> -->
        <!-- <li class="sideMenuItem">
          <a routerLink="/" class="d-flex align-items-center">
            <span class="icnWrap"><i class="far fa-credit-card"></i></span>
            <span class="lableWrap">Payment Method</span>
          </a>
          <ul class="sideSubMenuItems">
            <li><a routerLink="/">B2B Rides</a></li>
            <li><a routerLink="/">Book B2B Ride</a></li>
            <li><a routerLink="/">B2B Earnings</a></li>
          </ul>
        </li>
        <li class="sideMenuItem">
          <a routerLink="" class="d-flex align-items-center">
            <span class="icnWrap"><i class="fas fa-exchange-alt"></i></span>
            <span class="lableWrap">TopRide Business</span>
          </a>
          <ul class="sideSubMenuItems">
            <li><a routerLink="/">B2B Rides</a></li>
            <li><a routerLink="/">Book B2B Ride</a></li>
            <li><a routerLink="/">B2B Earnings</a></li>
          </ul>
        </li> -->
        <li class="sideMenuItem" routerLinkActive="active">
          <a routerLink="support" class="d-flex align-items-center">
            <span class="icnWrap"><i class="fas fa-handshake"></i></span>
            <span class="lableWrap">Support</span>
          </a>
        </li>
        <!-- <li class="sideMenuItem">
          <a routerLink="/" class="d-flex align-items-center">
            <span class="icnWrap"><i class="fas fa-gift"></i></span>
            <span class="lableWrap">Refer & Earn</span>
          </a>
        </li> -->
      </ul>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>