<div [ngClass]="{ banner: isHomePage }">
  <header id="main_header" [ngClass]="{ pagescrolled: pagescrolled }">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <div class="mr-5">
          <a routerLink="/">
            <img src="assets/images/logo.png" alt="logo" />
          </a>
        </div>
        <div class="mr-auto">
          <ul class="hd_menu">

            <li><a routerLink="/driver">Driver</a></li>
            <li><a routerLink="/rider">Rider</a></li>
            <!-- <li><a routerLink="/coming-soon">Travel Agencies</a></li> -->
            <li><a routerLink="/coming-soon">Business</a></li>
            <li><a routerLink="/enrollment">Enrollment</a></li>
          </ul>
        </div>
        <div>
          <a class="btn btn-primary mr-1" routerLink="/coming-soon">sign in</a>
          <a class="btn btn-primary" routerLink="/coming-soon">sign up</a>
        </div>
      </div>
    </div>
  </header>
</div>
