<div class="dashboard-main">
  <div class="d-flex">
    <div class="col-md-3">
      <ul class="sideMenuItems">
        <li class="sideMenuItem" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/driver/dashboard" class="d-flex align-items-center">
            <span class="icnWrap"><i class="fas fa-wallet"></i></span>
            <span class="lableWrap">My Bookings</span>
          </a>
        </li>
        <li class="sideMenuItem" routerLinkActive="active">
          <a routerLink="support" class="d-flex align-items-center">
            <span class="icnWrap"><i class="fas fa-handshake"></i></span>
            <span class="lableWrap">Support</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>