<section class="innerbanner2">
  <div class="inn_info">
    <h1>Topride for Driver</h1>
    <div class="d-block text-center mt-3 mb-3">
      <button
        type="button"
        routerLink="/enrollment"
        class="btn btn-transparent"
      >
        Sign up to Driver
      </button>
    </div>
    <div class="text-center">
      <a href="#">
        <img
          src="assets/images/apple-store.png"
          class="img-responsive m-auto"
        />
      </a>
      <a href="#">
        <img
          src="assets/images/google-play.png"
          class="m-auto img-responsive"
        />
      </a>
    </div>
  </div>
</section>
<section class="p-60">
  <div class="container">
    <h3 class="innerheading">Why Drive with Topride</h3>
    <div class="row mt-5 align-items-center">
      <div class="col-sm-12 col-lg-6">
        <h3 class="innerheading2">Work when you want</h3>
        <span class="innertxt"
          >Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
          sit amet, consectetur adipiscing</span
        >
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="p_relative text-center">
          <img
            src="assets/images/innericonbg.png"
            class="img-responsive m-auto"
          />
          <div class="img_postn">
            <img src="assets/images/innericon1.png" alt="image" />
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 align-items-center">
      <div class="col-sm-12 col-lg-6">
        <div class="p_relative text-center">
          <img
            src="assets/images/innericonbg.png"
            class="img-responsive m-auto"
          />
          <div class="img_postn">
            <img src="assets/images/innericon2.png" alt="image" />
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <h3 class="innerheading2">Get Paid Fast</h3>
        <span class="innertxt"
          >Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
          sit amet, consectetur adipiscing</span
        >
      </div>
    </div>
    <div class="row mt-5 align-items-center">
      <div class="col-sm-12 col-lg-6">
        <h3 class="innerheading2">Be your boss</h3>
        <span class="innertxt"
          >Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
          sit amet, consectetur adipiscing</span
        >
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="p_relative text-center">
          <img
            src="assets/images/innericonbg.png"
            class="img-responsive m-auto"
          />
          <div class="img_postn">
            <img src="assets/images/innericon3.png" alt="image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-60 inner_bgg">
  <div class="container">
    <div class="row ">
      <div class="col-12 col-lg-6">
        <h3 class="innerheading2 mb-5">How it Works</h3>
        <div class="p_relative pl_60 form-group">
          <div class="no">
            <span>1</span>
          </div>
          <h3 class="innerheading3">Create an Account</h3>
          <span class="innertxt">
            Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
            sit amet, consectetur adipiscing
          </span>
        </div>
        <div class="p_relative pl_60 form-group">
          <div class="no">
            <span>2</span>
          </div>
          <h3 class="innerheading3">Give Details</h3>
          <span class="innertxt">
            Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
            sit amet, consectetur adipiscing
          </span>
        </div>
        <div class="p_relative pl_60 form-group">
          <div class="no">
            <span>3</span>
          </div>
          <h3 class="innerheading3">Upload Documents</h3>
          <span class="innertxt">
            Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
            sit amet, consectetur adipiscing
          </span>
        </div>
        <div class="p_relative pl_60 form-group">
          <div class="no">
            <span>4</span>
          </div>
          <h3 class="innerheading3">Get Approval</h3>
          <span class="innertxt">
            Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
            sit amet, consectetur adipiscing
          </span>
        </div>
        <div class="p_relative pl_60 form-group">
          <div class="no">
            <span>5</span>
          </div>
          <h3 class="innerheading3">Start Earning</h3>
          <span class="innertxt">
            Lorem ipsum dolor sit amet, consectetur adipiscing
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-6 text-center">
        <img
          src="assets/images/innermobile.png"
          class="img-responsive m-auto"
        />
      </div>
    </div>
  </div>
</section>
