<section class="innerbanner2">
  <div class="inn_info">
    <h1>Topride for Driver</h1>
    <div class="d-block text-center mt-3 mb-3">
      <button type="button" class="btn btn-transparent">
        Sign up to Driver
      </button>
    </div>
    <div class="text-center">
      <a href="#">
        <img
          src="assets/images/apple-store.png"
          class="img-responsive m-auto"
        />
      </a>
      <a href="#">
        <img
          src="assets/images/google-play.png"
          class="m-auto img-responsive"
        />
      </a>
    </div>
  </div>
</section>
<section class="p-60">
  <div class="container">
    <h3 class="innerheading">Why Drive with Topride</h3>
    <div class="row mt-5 align-items-center">
      <div class="col-sm-12 col-lg-6">
        <h3 class="innerheading2">Work when you want</h3>
        <span class=" mt-2 d-block">Topride is India’s leading online booking company that offers great deal to expert drivers. You can drive your own car and make money with flexible hours of working. The Prime time Pricing and Peak Hour cost can further help you get great deal to hop on. Create a schedule that works for you and drive towards your dream!</span >
        <span class="d-block">
          If you are a passionate driver you can also earn bonus with great deal of service and build customer relationships that will allow you earn tips. 
        </span>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="p_relative text-center">
          <img
            src="assets/images/innericonbg.png"
            class="img-responsive m-auto"
          />
          <div class="img_postn">
            <img src="assets/images/innericon1.png" alt="image" />
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 align-items-center">
      <div class="col-sm-12 col-lg-6">
        <div class="p_relative text-center">
          <img
            src="assets/images/innericonbg.png"
            class="img-responsive m-auto"
          />
          <div class="img_postn">
            <img src="assets/images/innericon2.png" alt="image" />
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <h3 class="innerheading2">Get Paid Fast</h3>
        <span class=" mt-2 d-block">TopRide own a reliable earning feature that you can depend on. No matter you need to pay loan or set an earning goal, we’ll help you stay on track. All you need to have is a professionals driving experience to compete your peer. Our App allows drivers to grab the bookings at an instant and earn competitive pay without delay, and you can withdraw the amount when you’re ready.    </span >
      </div>
    </div>
    <div class="row mt-5 align-items-center">
      <div class="col-sm-12 col-lg-6">
        <h3 class="innerheading2">Be your boss</h3>
        <span class=" mt-2 d-block">Work as partner and become a boss of your own with Topride! Our unparalleled network allows you get exclusive bookings and seamless experience that you’ll enjoy. We process hundreds of bookings in a day at your local area - across the country to make your drive easy and incomparable. </span >
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="p_relative text-center">
          <img
            src="assets/images/innericonbg.png"
            class="img-responsive m-auto"
          />
          <div class="img_postn">
            <img src="assets/images/innericon3.png" alt="image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-60 inner_bgg">
  <div class="container">
    <div class="row ">
      <div class="col-12 col-lg-6">
        <h3 class="innerheading2 mb-5">How it Works</h3>
        <div class="p_relative pl_60 form-group">
          <div class="no">
            <span>1</span>
          </div>
          <h3 class="innerheading3">Create an Account</h3>
          <span class="">
            Submit your personal information and other required facts to help us know you better. 
          </span>
        </div>
        <div class="p_relative pl_60 form-group">
          <div class="no">
            <span>2</span>
          </div>
          <h3 class="innerheading3">Give Details</h3>
          <span class="">
            Provide the correct details that are asked, so that we can proceed with work. 
          </span>
        </div>
        <div class="p_relative pl_60 form-group">
          <div class="no">
            <span>3</span>
          </div>
          <h3 class="innerheading3">Upload Documents</h3>
          <span class="">
            Submit your supporting documents in order to help us provide safe and secure service. 
          </span>
        </div>
        <div class="p_relative pl_60 form-group">
          <div class="no">
            <span>4</span>
          </div>
          <h3 class="innerheading3">Get Approval</h3>
          <span class="">
            Gear yourself to grab some great opportunities that are coming your way.
          </span>
        </div>
        <div class="p_relative pl_60 form-group">
          <div class="no">
            <span>5</span>
          </div>
          <h3 class="innerheading3">Start Earning</h3>
          <span class="">
            You’re ready to start earning on your own schedule.
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-6 text-center">
        <img
          src="assets/images/innermobile.png"
          class="img-responsive m-auto"
        />
      </div>
    </div>
  </div>
</section>
