<section class="innerbanner">
  <h1>Career</h1>
</section>
<section class="p-60 carrerTop">
  <div class="container">
      <div class="row flex-md-row-reverse">
        <div class="col-md-12">
          <h2>Life at Topride</h2>
        </div>
        <div class="col-md-5 careerTopImg">
        <img src="images/working.jpg" alt="" class="d-md-none img-responsive"/>
      </div>
          <div class="col-md-7">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <a href="" class="btn btn-transparent seeOpenings">See our Openings</a>
      </div>
      </div>
  </div>
</section>

<section class="p-60 carrerMid">
<div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Why work at Toppride?</h2>
        </div>
        <div class="col-md-6">
                <div class="workus-content">
                    <h2 class="title">Impact oriented</h2>
                    <p class="info">
                        If you are oriented towards making an impact, then Ola is the place for you! As an organisation, we focus on working fast and hard to make a quick impact.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="workus-content">
                    <h2 class="title">Passionate</h2>
                    <p class="info">
                        We are passionate about our mission to provide mobility for a billion Indians. What's more? Once we are done with work we party even harder!
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="workus-content">
                    <h2 class="title">Ambitious Goals</h2>
                    <p class="info">
                        We believe in the saying "Ambitious goals make for outstanding achievements" and we set audacious goals for ourselves.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="workus-content">
                    <h2 class="title">Obsessively hyperlocal</h2>
                    <p class="info">
                        We intrinsically understand the transportation needs of India. Our teams continue to create hyperlocal solutions to meet those needs.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="workus-content">
                    <h2 class="title">Infectious Energy</h2>
                    <p class="info">
                        There is never a dull moment at Ola. We are constantly ideating, innovating and deliberating!  Join us to be part of this buzz.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="workus-content">
                    <h2 class="title">Enterprising</h2>
                    <p class="info">
                        We have the courage to be creative and always willing to experiment with new opportunities!
                    </p>
                </div>
            </div>
      </div>
  </div>
</section>
<section class="p-60 carrerListing">
<div class="container">
  <div class="row">
    <div class="col-md-12">
          <h2>Job Opportunities</h2>
        </div>
    <div class="col-md-12">
      <div class="single-post d-flex flex-row">
      <div class="thumb">
        <img src="https://technext.github.io/job-listing/img/post.png" alt="">
        <ul class="tags">
          <li>
            <a href="#">Art</a>
          </li>
          <li>
            <a href="#">Media</a>
          </li>
          <li>
            <a href="#">Design</a>					
          </li>
        </ul>
      </div>
      <div class="details">
        <div class="title d-flex flex-row justify-content-between">
          <div class="titles">
            <a href="single.html"><h4>Creative Art Designer</h4></a>
            <h6>Premium Labels Limited</h6>					
          </div>
          <ul class="btns">
            <li><a href="#">Apply</a></li>
          </ul>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
        </p>
        <h5>Job Nature: Full time</h5>
        <p class="address"><i class="fas fa-map-marker-alt"></i> 56/8, Panthapath Dhanmondi Dhaka</p>
        <p class="address"><i class="fas fa-database"></i> 15k - 25k</p>
      </div>
    </div>
    <div class="single-post d-flex flex-row">
      <div class="thumb">
        <img src="https://technext.github.io/job-listing/img/post.png" alt="">
        <ul class="tags">
          <li>
            <a href="#">Art</a>
          </li>
          <li>
            <a href="#">Media</a>
          </li>
          <li>
            <a href="#">Design</a>					
          </li>
        </ul>
      </div>
      <div class="details">
        <div class="title d-flex flex-row justify-content-between">
          <div class="titles">
            <a href="single.html"><h4>Creative Art Designer</h4></a>
            <h6>Premium Labels Limited</h6>					
          </div>
          <ul class="btns">
            <li><a href="#">Apply</a></li>
          </ul>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
        </p>
        <h5>Job Nature: Full time</h5>
        <p class="address"><i class="fas fa-map-marker-alt"></i> 56/8, Panthapath Dhanmondi Dhaka</p>
        <p class="address"><i class="fas fa-database"></i> 15k - 25k</p>
      </div>
    </div>
    </div>
  </div>
</div>
</section>
<section class="pad-160 icon_sec">
<div class="container">
  <div class="row align-items-center">
    <div class="col-12 col-lg-3">
      <div class="text-center">
        <i class="fas fa-taxi"></i>
        <span class="d-block mt-3">1000+</span>
        <span class="d-block">
          Lorem ipsum dollar siet amiet
        </span>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="text-center">
        <i class="fas fa-city"></i>
        <span class="d-block mt-3">10+</span>
        <span class="d-block">
          Lorem ipsum dollar siet amiet
        </span>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="text-center">
        <i class="fas fa-users"></i>
        <span class="d-block mt-3">1000+</span>
        <span class="d-block">
          Lorem ipsum dollar siet amiet
        </span>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="text-center">
        <i class="fas fa-user-tie"></i>
        <span class="d-block mt-3">1000+</span>
        <span class="d-block">
          Lorem ipsum dollar siet amiet
        </span>
      </div>
    </div>
  </div>
</div>
</section>