<section class="innerbanner">
  <h1>Career</h1>
</section>
<section class="p-60 carrerTop">
  <div class="container">
    <div class="row flex-md-row-reverse">
      <div class="col-md-12">
        <h2>Life at Topride</h2>
      </div>
      <div class="col-md-5 careerTopImg">
        <img
          src="assets/images/working.jpg"
          alt=""
          class="d-md-none img-responsive"
        />
      </div>
      <div class="col-md-7">
        <p class="text-justify">
          Making career is a prior task for every individual. Along with a right kind of work, a career provides inspiration, stimulation, motivation and insight. Thus, before choose a career it becomes important to be sure of every aspect of work, position and potentiality. 
        </p>
        <p class="text-justify">
          We are self-oriented professionals who believe in working with oomph and energy. We are a fast-growing company that provides several opportunities to those looking for intellectual progress and career growth. We encourage new ideas and look for passionate people, curious to move few step ahead. Our flair management strategy and diversity-friendly environment allow us meet every dream and support policies that create a network of trust among professionals as well as users. We understand that real world experiences are a lot different from that of a home, so we praise those ready to face new challenges in life.
        </p>
        <p class="text-justify">
          We are eager to meet skilled people who are not only thinkers but doers, ready to push the barriers and come forth with loads of fire. From management to driver we offer valuable career opportunities for you to create a better tomorrow. 
        </p>
      </div>
    </div>
  </div>
</section>

<section class="p-60 carrerMid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-3">Let us learn Together, Grow together and Lead Together</h2>
      </div>
      <div class="col-md-6">
        <div class="workus-content">
          <h2 class="title">Fun-loving Environment</h2>
          <p class="info">
            We praise talent and enable free environment to professionals working with us.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="workus-content">
          <h2 class="title">Unparallel Experience</h2>
          <p class="info">
            We ensure people get equal opportunity and make a difference in every moment.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="workus-content">
          <h2 class="title">Innovation and You</h2>
          <p class="info">
            We create an environment where you get rewarded for your passion and customer service.  
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="workus-content">
          <h2 class="title">Entrepreneurial Desire</h2>
          <p class="info">
            We value output-focused work, that though challenging improves economy. 
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="workus-content">
          <h2 class="title">Inclusive Effort</h2>
          <p class="info">
            We serve people across India reach desired destination safe, secure and happy. 
          </p>
        </div>
      </div>
      
    </div>
    <div class="mt-3">
      <p class="d-block">There is space at Topride for every seeker, all you need to do is meet our requirement and abide by the policies. </p>
      <p class="d-block">Discover The New World of Opportunities With Topride Now!!</p>
    </div>
  </div>
</section>
<!-- <section class="p-60 carrerListing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Job Opportunities</h2>
      </div>
      <div class="col-md-12">
        <div class="single-post d-flex flex-row">
          <div class="thumb">
            <img
              src="https://technext.github.io/job-listing/img/post.png"
              alt=""
            />
            <ul class="tags">
              <li>
                <a href="#">Art</a>
              </li>
              <li>
                <a href="#">Media</a>
              </li>
              <li>
                <a href="#">Design</a>
              </li>
            </ul>
          </div>
          <div class="details">
            <div class="title d-flex flex-row justify-content-between">
              <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>
              </div>
              <ul class="btns">
                <li><a href="#">Apply</a></li>
              </ul>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod temporinc ididunt ut dolore magna aliqua.
            </p>
            <h5>Job Nature: Full time</h5>
            <p class="address">
              <i class="fas fa-map-marker-alt"></i> 56/8, Panthapath Dhanmondi
              Dhaka
            </p>
            <p class="address"><i class="fas fa-database"></i> 15k - 25k</p>
          </div>
        </div>
        <div class="single-post d-flex flex-row">
          <div class="thumb">
            <img
              src="https://technext.github.io/job-listing/img/post.png"
              alt=""
            />
            <ul class="tags">
              <li>
                <a href="#">Art</a>
              </li>
              <li>
                <a href="#">Media</a>
              </li>
              <li>
                <a href="#">Design</a>
              </li>
            </ul>
          </div>
          <div class="details">
            <div class="title d-flex flex-row justify-content-between">
              <div class="titles">
                <a href="single.html"><h4>Creative Art Designer</h4></a>
                <h6>Premium Labels Limited</h6>
              </div>
              <ul class="btns">
                <li><a href="#">Apply</a></li>
              </ul>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod temporinc ididunt ut dolore magna aliqua.
            </p>
            <h5>Job Nature: Full time</h5>
            <p class="address">
              <i class="fas fa-map-marker-alt"></i> 56/8, Panthapath Dhanmondi
              Dhaka
            </p>
            <p class="address"><i class="fas fa-database"></i> 15k - 25k</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- <section class="pad-160 icon_sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-taxi"></i>
          <span class="d-block mt-3">1000+</span>
          <span class="d-block">
            Lorem ipsum dollar siet amiet
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-city"></i>
          <span class="d-block mt-3">10+</span>
          <span class="d-block">
            Lorem ipsum dollar siet amiet
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-users"></i>
          <span class="d-block mt-3">1000+</span>
          <span class="d-block">
            Lorem ipsum dollar siet amiet
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="text-center">
          <i class="fas fa-user-tie"></i>
          <span class="d-block mt-3">1000+</span>
          <span class="d-block">
            Lorem ipsum dollar siet amiet
          </span>
        </div>
      </div>
    </div>
  </div>
</section> -->
