<section class="innerbanner">
  <h1><strong>Career</strong></h1>
</section>
<section class="p-60 carrerTop">
  <div class="container">
    <div class="row flex-md-row-reverse">
      <div class="col-md-12">
        <h2>Life at Topride</h2>
      </div>
      <div class="col-md-5 careerTopImg">
        <img src="assets/images/working.jpg" alt="career with top ride cabs" class="d-md-none img-responsive" />
      </div>
      <div class="col-md-7">
        <p class="text-justify">
          Making career is a prior task for every individual. Along with a right kind of work, a career provides
          inspiration, stimulation, motivation and insight. Thus, before choose a career it becomes important to be sure
          of every aspect of work, position and potentiality.
        </p>
        <p class="text-justify">
          We are self-oriented professionals who believe in working with oomph and energy. We are a fast-growing company
          that provides several opportunities to those looking for intellectual progress and career growth. We encourage
          new ideas and look for passionate people, curious to move few step ahead. Our flair management strategy and
          diversity-friendly environment allow us meet every dream and support policies that create a network of trust
          among professionals as well as users. We understand that real world experiences are a lot different from that
          of a home, so we praise those ready to face new challenges in life.
        </p>
        <p class="text-justify">
          We are eager to meet skilled people who are not only thinkers but doers, ready to push the barriers and come
          forth with loads of fire. From management to driver we offer valuable career opportunities for you to create a
          better tomorrow.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="p-60 carrerMid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-3">Let us learn Together, Grow together and Lead Together</h2>
      </div>
      <div class="col-md-6">
        <div class="workus-content">
          <h2 class="title"><i class="fas fa-square-full"></i> Fun-loving Environment</h2>
          <p class="info">
            We praise talent and enable free environment to professionals working with us.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="workus-content">
          <h2 class="title"><i class="fas fa-square-full"></i> Unparallel Experience</h2>
          <p class="info">
            We ensure people get equal opportunity and make a difference in every moment.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="workus-content">
          <h2 class="title"><i class="fas fa-square-full"></i> Innovation and You</h2>
          <p class="info">
            We create an environment where you get rewarded for your passion and customer service.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="workus-content">
          <h2 class="title"><i class="fas fa-square-full"></i> Entrepreneurial Desire</h2>
          <p class="info">
            We value output-focused work, that though challenging improves economy.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="workus-content">
          <h2 class="title"><i class="fas fa-square-full"></i> Inclusive Effort</h2>
          <p class="info">
            We serve people across India reach desired destination safe, secure and happy.
          </p>
        </div>
      </div>

    </div>
    <div class="mt-3">
      <p class="d-block">There is space at Topride for every seeker, all you need to do is meet our requirement and
        abide by the policies. </p>
      <p class="d-block">Discover The New World of Opportunities With Topride Now!!</p>
    </div>
    <div class="d-flex flex-row-reverse ">
      <div>
        <a href="http://www.topridecabs.com/contactus" class="btn btn-dark">Apply Now</a>
      </div>
    </div>
  </div>
</section>