<section class="innerbanner3">
  <h1 class="w420">Enrollment For - Cab</h1>
</section>
<section class="p-60">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-lg-6">
        <h3 class="innerheading2 inc_b">Drive with Topride -</h3><span class="inc_b ml-2"><strong>Be Strong Partners</strong></span>
        <span class="innertxt mt-3 d-block">
          Be your own boss and run your vehicle the way you want. Reach your goals on your own terms and earn at your own schedule. </span >
          <span class="d-block mt-3"></span>
          
            <i class="fas fa-square-full"></i> <strong> Move Smart with Topride Partnership</strong>
          
          <span class="d-block  ml-4">
             Enter your details and tell us about you
          </span>
          <div class="d-block mt-3">
            <i class="fas fa-square-full"></i> <strong> Inclusive service</strong>
          </div>
          <span class="d-block ml-4 d-block">
             Be a part of our community and serve society with hassle-free mobility on desired transportation. 
          </span>

          <div class="d-block mt-3">
            <i class="fas fa-square-full"></i> <strong> Work in Your Schedule</strong>
          </div>

          <span class="d-block ml-4">
             On your way to office or home, you can always take a booking and earn without expenditure. 
          </span>

           <div class="d-block mt-3">
            <i class="fas fa-square-full"></i> <strong> Choose your city to work</strong>
          </div>

          <span class="d-block ml-4">
            You can choose your own city and your own area to make your move easy and earning better.  
          </span>

          <div class="d-block mt-3">
            <i class="fas fa-square-full"></i> <strong> Emergency Service</strong>
          </div>

          <span class="d-block ml-4">
             We are all time available to help our partners increase efficiency with smooth work environment.  
          </span>
        <div class="d-block mt-3">
          <a routerLink="/enrollment/driver" class="btn btn-dark">Click Here</a>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 hidden-xs">
        <div class="p_relative text-center">
          <img src="assets/images/img-1.png" class="img-responsive m-auto" />
        </div>
      </div>
    </div>
    
    
  </div>
</section>


<section class="p-60 inn_bg">
    <div class="container">
      <div class="row  align-items-center">
      <div class="col-sm-12 col-lg-6 hidden-xs">
        <div class="p_relative text-center">
          <img src="assets/images/img-2.png" class="img-responsive m-auto" />
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <h3 class="innerheading2 inc_b">Lease a Car -</h3><span class="inc_b ml-2"><strong>Discover New Paths</strong></span>
        <span class="innertxt mt-2 d-block">
         Buying your own car might mean skipping few outings or avoiding trips with family to pay EMI of new car. Owing a car might be a nerve-racking prospect, better go convenient without cost.
        </span>

        <div class="d-block mt-3">
          <i class="fas fa-square-full"></i> <strong> Drive Risk-Free</strong>
        </div>
        
        <span class="d-block ml-4">
            Enter your details and tell us about you  
        </span>

        <div class="d-block mt-3">
          <i class="fas fa-square-full"></i> <strong> Optimize Cost</strong>
        </div>


        <span class="d-block ml-4">
             Lease a risk-free car with us and earn good to shape your future and make living better.   
        </span>

        <div class="d-block mt-3">
          <i class="fas fa-square-full"></i> <strong> Effortless Job</strong>
        </div>

        <span class="d-block ml-4">
            Get notification, confirm the service and show fare to complete the task.   
        </span>

        <div class="d-block mt-3">
          <i class="fas fa-square-full"></i> <strong>Unmatched Transparency</strong>
        </div>


        <span class="d-block ml-4">
            We provide full mobility without any hassle and allow you drive a car of your choice.   
        </span>

        <div class="d-block mt-3">
          <i class="fas fa-square-full"></i> <strong> We’ve your back</strong>
        </div>


        <span class="d-block ml-4">
            You need not to worry about maintenance and insurance as we take care of your monthly charges.   
        </span>
        <div class="d-block mt-3">
          <a routerLink="/enrollment/new" class="btn btn-dark">Click Here</a>
        </div>
      </div>
      </div>
    </div>
</section>


<section class="p-60">
  <div class="container">
    <div class="row  align-items-center">
        <div class="col-sm-12 col-lg-6">
          <h3 class="innerheading2 inc_b">Run Your Car -</h3><span class="inc_b ml-2"><strong>Let Your Car Earn For You</strong></span>
          <span class="innertxt mt-2 d-block">
            Owing a car and not using it can sound cost-effective for ones, but it is expensive on other terms, as a car not used, losses its efficiency and functionality.
          </span >

          <div class="d-block mt-3">
            <i class="fas fa-square-full"></i> <strong> Rent Your Commercial Vehicle to Topride. </strong>
          </div>
          
          <span class="d-block ml-4">
               Enter your details and tell us about your car
          </span>

          

          <span class="d-block mt-3">
              <i class="fas fa-square-full"></i> <strong> Track your Car with our App and stay rest for good Earn. </strong> 
          </span>

          <div class="d-block mt-3">
            <i class="fas fa-square-full"></i> <strong> Get Full Control</strong>
          </div>

          <span class="d-block ml-4">
                Get live updates of the performance of your car and its earnings on your dashboard.
          </span>

          <div class="d-block mt-3">
            <i class="fas fa-square-full"></i> <strong> Track your car and driver</strong>
          </div>


          <span class="d-block ml-4">
                You can track the trip and details to ensure smooth and secure working of your vehicle.
          </span>

          <div class="d-block mt-3">
            <i class="fas fa-square-full"></i> <strong> Get Notifications</strong>
          </div>


          <span class="d-block ml-4">
               Gain information regarding logins, payments, logouts, earnings and more.
          </span>

          <div class="d-block mt-3">
            <i class="fas fa-square-full"></i> <strong> 24/7 support service</strong>
          </div>


          <span class="d-block ml-4">
               Contact our emergency line whenever you need assistance for your car.
          </span>
          <div class="d-block mt-3">
            <a routerLink="/enrollment/cab" class="btn btn-dark">Click Here</a>
          </div>
        </div>
        <div class="col-sm-12 col-lg-6 hidden-xs  ">
          <div class="p_relative text-center">
            <img src="assets/images/img-3.png" class="img-responsive m-auto" />
          </div>
        </div>
    </div>
  </div>
</section>
