<section class="innerbanner3">
  <h1 class="w420">Enrollment For - Cab</h1>
</section>
<section class="p-60 inn_bg">
  <div class="container">
    <div class="row mt-5 align-items-center">
      <div class="col-sm-12 col-lg-6">
        <h3 class="innerheading2">Enrollment for Driver</h3>
        <span class="innertxt mt-3 d-block"
          >Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
          sit amet, consectetur adipiscing</span
        >
        <div class="d-block mt-3">
          <a routerLink="/enrollment/new" class="btn btn-dark">Click Here</a>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="p_relative text-center">
          <img src="assets/images/img-1.png" class="img-responsive m-auto" />
        </div>
      </div>
    </div>
    <div class="row mt-5 align-items-center">
      <div class="col-sm-12 col-lg-6">
        <div class="p_relative text-center">
          <img src="assets/images/img-2.png" class="img-responsive m-auto" />
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <h3 class="innerheading2">Enrollment for Car Owner</h3>
        <span class="innertxt"
          >Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
          sit amet, consectetur adipiscing</span
        >
        <div class="d-block mt-3">
          <a routerLink="/enrollment/new" class="btn btn-dark">Click Here</a>
        </div>
      </div>
    </div>
    <div class="row mt-5 align-items-center">
      <div class="col-sm-12 col-lg-6">
        <h3 class="innerheading2">Enrollment for Car</h3>
        <span class="innertxt"
          >Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor
          sit amet, consectetur adipiscing</span
        >
        <div class="d-block mt-3">
          <a routerLink="/enrollment/new" class="btn btn-dark">Click Here</a>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="p_relative text-center">
          <img src="assets/images/img-3.png" class="img-responsive m-auto" />
        </div>
      </div>
    </div>
  </div>
</section>
