.contactsection {
  padding: 40px 0;
}
.cintacthalf {
  width: 48%;
}
.cintacthd {
  font-size: 30px;
  color: #000;
  font-weight: 600;
  margin-bottom: 20px;
}
.cintactleft {
  padding-right: 100px;
}
.cintacthalf p.abouttxt {
  color: #a3a3a3;
  margin-bottom: 20px;
}
.socillist > li {
  margin-bottom: 15px;
  display: block;
  font-size: 18px;
  color: #333;
}
.socillist > li {
  margin-bottom: 15px;
  display: block;
}
.socillist > li a {
  vertical-align: top;
  font-size: 18px;
  color: #333;
}

.socillist > li span.one {
  background-position: 0 4px;
}
.socillist > li span.two {
  background-position: 0px -37px;
}
.socillist > li span.three {
  background-position: 0 -75px;
}
.socillist > li span.four {
  background-position: 0 -117px;
}
.marbot20 {
  margin-bottom: 5px;
}
.timelutxt {
  font-size: 17px;
  color: #000;
}
.conatctformdiv {
  width: 100%;
  position: relative;
  padding: 30px;
  box-shadow: 7px 10px 20px #e5e5e5, -5px 3px 27px #e5e5e5;
  -webkit-box-shadow: 7px 10px 20px #e5e5e5, -5px 3px 27px #e5e5e5;
  -moz-box-shadow: 7px 10px 20px #e5e5e5, -5px 3px 27px #e5e5e5;
  -o-box-shadow: 7px 10px 20px #e5e5e5, -5px 3px 27px #e5e5e5;
  background: #fff;
}

.contactsection_bootom {
  margin-bottom: -200px;
}
.btnblue {
  background: #015cef;
  color: #fff;
  text-transform: none;
  margin-bottom: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.bggray {
  background: #f7f7f7;
}
.applyformrow {
  margin-bottom: 20px;
}
.h_ovr {
  height: auto !important;
}
.socillist li {
  position: relative;
  padding-left: 40px;
}
.socillist li i {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 26px;
}

.socillist li span {
  padding-top: 4px;
  display: block;
}

.innerbanner {
  background-image: url(/assets/images/cnbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 100% 100%;
  position: relative;
  height: 374px;
}

span.error {
  color: red;
}

@media screen and(max-width:767px) {
}
